/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
/*border: 1px solid #000;*/
background: transparent; 
/*width: 738px; */
/*height: 27px; */
height: 50px;
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 150px;
top: 13px;
/*width: 718px;*/
overflow: hidden;
font-family: 'HelveticaNeueLTCom-Roman' !important;
}
ul.newsticker { /* that's your list */
position: relative;
left: 0;
font: 10px;
list-style-type: none;
margin: 0;
padding: 0;
}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
font-size: 17px;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
font: 17px;
/*margin: 0 50px 0 0;*/
text-decoration: none !important;
pointer-events: none;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 